<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Celebs</title>
  </head>
  <body>
    <h1>Here are Celebs</h1>
    <p>Well Hello There</p>
    <ul>
      <% celebs.forEach( (value, key) => { %>
      <li><%= key %></li>
      <% if(value != []){ %>
      <ul>
        <% value.forEach( (cat) => { %>
        <li><b>Name:</b> <%= cat.name %> <b>Breed:</b> <%= cat.breed %></li>

        <% }); %>
      </ul>
      <% } %> <% }); %>
    </ul>
  </body>
</html>
