<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a breed</title>
  </head>
  <body>
    <form method="POST" action="/breeds/create">
      <h1>Add a breed</h1>
      <label>Breed: <input type="text" name="name" required /> </label>
      <button type="submit">Add Breed</button>
    </form>
  </body>
</html>
